*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

:root{
    --font-main:'Nunito', sans-serif;
    --font-second:'Lobster', cursive;
}

body{
    font-family: var(--font-main);
    width:100%;
    height:100%;
    cursor:default;
    user-select: none;
}

header{
    width:100%;
    min-height:350px;
    background-image: url(./Images/headerPhoto.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

/*===== NAvigation =====  */

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    width: 100%;
    transition: all 0.3s ease-in-out;
    background-color: transparent;
    position: relative;
    z-index: 12;
}



.navigation.scroll{
    background:linear-gradient(90deg, rgb(73, 182, 255),pink);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    box-shadow: 0px 2px 20px -4px black;
}

.navigation span{
    font-family: var(--font-second);
    font-size: 3rem;
    position: relative;
    color: transparent;    
    display:block  ;  
    background-image: linear-gradient(90deg, rgba(46, 101, 255, 1) 0%, rgba(241, 0, 208, 1) 100%);
    -webkit-background-clip: text;
      -moz-background-clip: text;
     background-clip: text;
    -webkit-text-fill-color: transparent;
     -moz-text-fill-color: transparent;
     text-fill-color: transparent;
}
  
.navigation .menu{
    display:flex;
    position:relative;
    z-index: 2;
}

.navigation ul{
    display:flex;
    list-style-type: none;
    z-index: 2;
}

.navigation ul li a{
    text-decoration: none;
    margin:0 20px;
    padding:10px;
    color:white;
    text-shadow: 2px 2px 2px black;
    font-size: 1.7rem;
    z-index: 2;
}

.navigation ul li a.active{
    background-color:rgb(251, 255, 0) ;
    border-radius:50px;
}

/* ====== Hamburger ===== */

.hamburger{
    width:50px;
    height:35px;
    border:none;
    flex-direction: column;
    justify-content: space-between;
    cursor:pointer;
    transition:0.5s ease-in-out;
    display:none;
}

.hamburger .bar{
    width:90%;
    height:5px;
    background-color: white;
    border-radius:5px;
    transition:0.5s ease-in-out;
}

.hamburger.active .bar:first-child{
    transform:translateY(15px) rotate(45deg);
    background-color: white;
}

.hamburger.active .bar:nth-child(2){
    display:none;
}

.hamburger.active .bar:nth-child(3){
    transform:translateY(-15px) rotate(-45deg);
    background-color: white;
}

/* ===== Section Photo ===== */

.photo{
    display:flex;
    flex-direction:column;
    width:100%;
}

.photo .up, .photo .down{
    display:flex;
    width:100%;
    height:300px;
}

.photo .background{
    width:50%;
    background-image: url(./Images/pink.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.photo .down .background{
    background-image: url(./Images/istockphoto-1216936345-612x612.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.photo .about{
    width:50%;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.6rem;
    font-family: var(--font-second);
    background: linear-gradient(90deg,blue,rgb(255, 0, 0));
    -webkit-background-clip: text;
      -moz-background-clip: text;
     background-clip: text;
    -webkit-text-fill-color: transparent;
     -moz-text-fill-color: transparent;
     text-fill-color: transparent;
    padding:0 30px;
    font-weight: bold;
}

.photo .down .about{
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.6rem;
    background: linear-gradient(90deg,rgb(9, 255, 1),rgb(2, 253, 241));
    -webkit-background-clip: text;
      -moz-background-clip: text;
     background-clip: text;
    -webkit-text-fill-color: transparent;
     -moz-text-fill-color: transparent;
     text-fill-color: transparent;
    padding:0 30px;
    font-weight: bold;
}

/* ===== Section Star ====== */

.stars {
    width:100%;
    display:flex;
    gap:30px;
    margin:20px 0;
    padding:0 30px;
    justify-content: space-between;
}

.stars i{
    font-size: 50px;
    transition:all 1s ease-in-out;
    color:gold;
}

.stars i:nth-child(even){
    padding-top:15px;
}

/* ===== Section Shop ====== */
.body-shop header{
    width:100%;
    background: none;
}

.navigation.shop{
    background:linear-gradient(90deg, rgb(73, 182, 255),pink);
    z-index: 1;
    box-shadow: 0px 2px 20px -4px black;
    width:100%;
    position:fixed;
}

.menu{
    display:flex;
    align-items: center;
    gap:20px;
}

.products{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    position:absolute;
    top:0;
    margin-top: 100px;
    margin-bottom:30px;
    gap:30px;
    padding:0 10px;
}
/* =====Basket Icon ===== */
.basket-shop{
    position:relative;
    margin-right: 10px;
    cursor:pointer;
}

.basket{
    width:50px;
    cursor:pointer;
}

.basket-number{
    position:absolute;
    top:0;
    right:-30%;
    width:40px;
    height:40px;
    border-radius:50%;
    background:linear-gradient(to right,rgb(252, 4, 190),rgb(6, 252, 252));
    display:none;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    font-family: var(--font-second);
    font-weight: bold;
    color:white;
    text-shadow:1px 1px 2px black;
}
/* ===== Item Product ====== */

.item{
    width:300px;
    height:480px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap:10px;
    padding:15px 10px;
    border-radius:20px;
    background: linear-gradient(to right top,rgb(255, 0, 200), white, blue);
    box-shadow: 0px 0px 30px 10px black;
}

.item-tittle{
    font-family: var(--font-second);
    font-size:2.1rem ;
    color:blueviolet;
    text-shadow: 1px 1px 2px black;
}

.item-img{
    width:300px;
    height:180px;
    padding:5px;
    object-fit: contain;
}

.item-description{
    font-size: 1.3rem;
    text-align: center;
    font-family: var(--font-second);
}
 
.item-price{
    font-size: 3rem;
    font-family: var(--font-second);
    color:blueviolet;
    text-shadow: 2px 2px 3px black;
}

.item-btn{
    width:70%;
    height:30px;
    cursor:pointer;
    font-family: var(--font-main);
    font-weight: bold;
    font-size: 1.3rem;
    border-radius: 10px;
    background: blueviolet;
    color:black;
    text-shadow: 1px 1px 2px black;
    border:none;
    box-shadow:0 0 10px 5px black;
}

/* ====== Shop Cart ======== */

.shop-cart{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    display:none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding:10px 0;
    overflow-y: scroll;
    background:white;
    box-shadow:0 0 10px 5px black;
}

.shop-cart h1{
    font-size:3rem;
    padding:10px;
    text-align: center;
    font-family:var(--font-second);
    background:linear-gradient(90deg, rgba(46, 101, 255, 1) 0%, rgba(241, 0, 208, 1) 100%);
    -webkit-background-clip: text;
      -moz-background-clip: text;
     background-clip: text;
    -webkit-text-fill-color: transparent;
     -moz-text-fill-color: transparent;
     text-fill-color: transparent;
}

.exit-btn{
    font-size:3rem;
    position:absolute;
    top:2%;
    right:2%;
    border:none;
    background: none;
    font-family:var(--font-main);
    font-weight: bold;
    cursor:pointer;
    color:red;
    text-shadow: 1px 1px 2px black;
}

.shop-cart-items{
    display:flex;
    flex-direction: column;
    gap:10px;
    width:100%;
    padding:0 20px;
}

.shop-item{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.shop-item:nth-child(even){
    background:linear-gradient(to right ,rgb(5, 5, 252,0.2) ,rgba(250, 3, 188, 0.2))
}

.shop-item-img{
    width:60px;
    height:60px;
    object-fit: cover;
    border-radius: 10px;
}

.shop-item-name{
    font-size: 2rem;
    text-align: center;
}

.shop-item-price{
    font-size: 2rem;
    text-align: center;
}

.shop-cart-tottal{
    display:flex;
    justify-content: end;
    padding:10px;
    border-top:solid 1px black;
    width:90%;
    font-size: 2rem;
    font-weight: bold;
    margin-top:10px;
}

.del-btn{
    border:none;
    cursor:pointer;
    background-color: transparent;
}

/* =====Section Grid ===== */

.grid{
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    display:grid;
}

.grid img{
    width:100%;
    height:100%;
    object-fit:cover;
    border:solid 5px rgb(3, 253, 3);
    border-radius:5px;
    margin-bottom:10px;
}

.grid img:nth-child(even){
    border:solid 5px blueviolet;
}

/* ===== Section About ===== */

#about{
    margin:10px 0;
}

.user{
    display:flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
    justify-content: center;
}

.user-photo{
    width:200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    border:3px solid green;
    transition: 1s all ease-in-out;
}

.user h1{
    font-size: 3rem;
    background: linear-gradient(45deg, blue,rgb(255, 1, 200) ,red);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.user p{
    text-align: center;
    padding:0 100px;
    font-size: 1.5rem;
    font-weight: bold;
}
/* ===== Section Contact ===== */

.contact{
    display:flex;
    padding:20px;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-family: var(--font-main);
    background:linear-gradient(to right,yellow,rgb(0, 248, 0),yellow);
}

.contact-up form{
    display:flex;
    flex-direction:column;
    gap:10px;
    color:rgb(255, 22, 5);
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
}

.contact-up form input{
    height:30px;
    font-size: 1.4rem;
    padding:0 5px;
    border:3px solid rgb(255, 22, 5);
    border-radius:10px;
    outline: none;
    background-color: rgb(255, 22, 5,0.2);
}

.contact-up form textarea{
    font-size: 1.4rem;
    padding:0 5px;
    border:3px solid rgb(255, 22, 5);
    border-radius:10px;
    outline: none;
    background-color: rgb(255, 22, 5,0.2);
    resize: none;
    height:220px;
}

.contact-down ul{
    list-style-type: none;
    display:flex;
    flex-direction: column;
    gap:10px;
}

.contact-down ul li{
    color:rgb(255, 22, 5);
    font-weight: bold;
    padding:0 10px;
    text-shadow: 2px 2px 2px black;
}

.contact-map iframe{
    border:3px solid rgb(255, 22, 5);
}
/* ===== Media Queries ===== */
@media (max-width:1050px){
    .navigation ul li a{
        font-size: 1.5rem;
    }
    .contact{
        font-size: 1.5rem;
    }
    .contact-up{
        width:80%;
    }
    .contact-map iframe{
        width:300px;
        height:300px;
    }
}
@media (max-width:500px),(max-width:750px){

    .hamburger{
        display:flex;
    }
    .navigation ul{
        position:absolute;
        flex-direction: column;
        top:50px;
        right:0;
        align-items: center;
        transform: translateX(120%);
        transition:all .5s ease-in-out;
        background-color: pink;
        border-radius: 20px;
        padding:5px;
    }
    .navigation ul.active{
        transform:translateX(20%);
    }
    .navigation ul li{
        margin:5px 0;
    }
    .navigation ul li a{
        width:110%;
        display:block;
        font-size:1.7rem;
    }
    .photo .up, .photo .down{
        flex-direction: column;
        width:100%;
        height:600px;
    }
    .stars{
        gap:15px;
        padding:0 15px;
    }
    .stars i{
        font-size: 25px;
    }
    .shop-item-name{
        font-size: 1.5rem;
    }
    .grid{
        grid-template-columns:repeat(1, 1fr);
        grid-template-rows: repeat(4 , 1fr);
    }
    .user p{
        text-align: center;
        padding:0 30px;
        font-size: 1.3rem;
        font-weight: bold;
    }
    .contact{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding:20px 5px;
        gap:10px;
    }
    .contact-up{
        width:80%;
    }
    .contact-down ul li{
        text-align: center;
    }
    .contact-map iframe{
        width:90%;
        height:300px;
        margin:10px auto;
    }
}


