*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');

body{
    font-family: 'Courgette', cursive;
    background-color: black;
    user-select: none;
}
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:5px 50px;
    background-color: black;
    z-index: 2;
    position:relative;
}
.logo-mobile{
    display:none;
    margin:10px 0;
}
.logo-mobile a{
    text-decoration: none;
}
.logo-mobile span{
    font-size: 40px;
    font-weight: bold;
    color:red;
    text-shadow: 1px 1px 2px gold;
    align-self: center;
}
.logo-mobile img{
    margin:0px -5px;
}
.logo a{
    text-decoration: none;
}
.logo span{
    font-size: 40px;
    font-weight: bold;
    color:red;
    text-shadow: 1px 1px 2px gold;
}
.logo img{
    margin:0 -5px;
}
.mobile-layout  a{
    text-decoration: none;
}
.material-icons.home{
    cursor:pointer;
    color:red;
    transition:all 0.5s ease-in-out;
}
.material-icons.home:hover{
    color:gold;
}
.home-mobile{
    transition:all 0.5s ease-in-out;
    display: block;
}
.home-mobile:hover{
    color:gold;
}
/* --------HAMBURGER------------ */
.hamburger{
    width:50px;
    height:40px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    cursor:pointer;
}
.mobile-layout{
    width:100%;
    display:flex;
    justify-content: space-around;
    padding:5px 10px;
    align-items: center;
    display:none;
    
}
.hamburger-mobile{
    width:50px;
    height:40px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    cursor:pointer;
    
}   
.hamburger-mobile:hover .bar{
    background-color:gold;
}
.hamburger:hover .bar{
    background-color:gold;
}
.bar{
    height:5px;
    width:90%;
    background-color: red;
    border-radius: 10px;
    transition:all 0.3s ease-in-out;
}
.hamburger-mobile.active .bar:first-child{
    transform:translateY(20px) rotate(45deg);
}
.hamburger-mobile.active .bar:nth-child(2){
    display:none;
}
.hamburger-mobile.active .bar:last-child{
    transform:translateY(-15px) rotate(-45deg);
}
.hamburger.active .bar:first-child{
    transform:translateY(20px) rotate(45deg);
}
.hamburger.active .bar:nth-child(2){
    display:none;
}
.hamburger.active .bar:last-child{
    transform:translateY(-15px) rotate(-45deg);
}
/* ---------sections---------------- */
.section-menu{
    background-color: black;
    padding:10px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:absolute;
    width:100%;
    transform:translateY(-100%);
    transition: all 0.5s linear;
    z-index:1;
}
.section-menu.active{
    transform:translateY(0)
}
.section a{
    text-decoration: none;
}
.material-icons{
    color:red;
}
.section-menu .section span{
    transition:all 0.3s ease-in-out;
}
.section-menu .section:hover span{
    color:gold;
}
.section-menu .contact{
    border-right:1px solid red;
    line-height:50px;
    padding-right:100px;
}
.section-menu .order{
    border-left:1px solid red;
    line-height: 50px;
    padding-left: 100px;
}
.section-menu span{
    color:red;
    font-size: 30px;
    cursor:pointer;
    font-weight: bold;
}

/* ---------MAIN------------ */
.main-container{
    display:flex;
    height:100%;
    padding:50px 70px;
    background-color: black;
}
.main-about{
    margin-top:30px;
    background: url(./images/big_candle.png);
    background-position: right;
    background-repeat: no-repeat;
}
.main-about p{
    width:70%;
    padding-top:10px;
    color:red;
    font-size: 1.4rem;
    text-indent: 30px;
}
/* -----------footer========== */
footer{
    display:flex;
    justify-content: space-between;
    width:90%;
    margin:20px auto;
    border-top:1px solid red;
    background-color: black;
}
footer span{
    color:red;
    font-size: 28px;
    margin-top: 10px;
}
.social{
    display:flex;
    margin-top: 10px;
}
.social i{
    color:red;
    font-size: 40px;
    margin:0 10px;
    cursor:pointer;
    transition:0.5s ease-in-out;
    border-radius: 5px;
}
.icon-facebook:hover{
    color:blue;
}
.icon-youtube:hover{
    background-color: white;
}
.icon-twitter:hover{
    color:lightskyblue;
}
.icon-gmail:hover{
    color:white;
}
/* --------PRODUCTS PAGE--------------- */
.main-products{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    padding:70px 60px;
    gap:50px;
}
.item-product{
    width:300px;
    height:450px;
    border:1px solid red;
    border-radius: 30px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow:0 0 15px 7px red;
    position:relative;
}
 .item-number{
    position:absolute;
    top:-50px;
    right:-5px;
    width:60px;
    height:70px;
    background-color: red;
    color:black;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transform: rotate(10deg);
    font-size: 1.6rem;
    font-family: 'Courgette', cursive;
    font-weight: bold;
    box-shadow: 0 0 10px 5px gold;
 }   
.item-tittle{
    padding:5px;
    color:red;
    font-size: 1.8rem;
    text-shadow: 1px 1px 2px gold;
    text-align: center;
}
.item-img{
    width:95%;
    height:180px;
    padding:5px 0;
    border:1px solid red;
    border-radius: 30px;
    background-image: url(./images/images.jpg);
    background-position: center;
    background-size: cover;
}
.item-description{
    color:red;
    padding:10px;
    font-size: 1.2rem;
    text-align: center;
}
.item-value{
    font-size: 2rem;
    color:red;
    text-shadow: 1px 1px 3px gold;
}
/* -----------ORDER PAGE------------- */
.main-order{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:100%;
    padding:50px 70px;
    background-color: black;
    background-image: url(./images/big_candle.png);
    background-position: right;
    background-repeat: no-repeat;
}
.main-order h1{
    font-size: 3rem;
    color:red;
    text-shadow: 2px 2px 4px gold;
    text-align: center;
    padding-bottom:30px;
}
.main-order p{
    color:red;
    display:block;
    width:60%;
    font-size: 1.6rem;
    padding-bottom:30px;
    text-align: center;
}
.form-order{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-order label{
    padding:7px 0;
    color:red;
    text-shadow: 2px 2px 2px gold;
    font-size: 2rem;
}
.form-order input{
    width:300px;
    height:50px;
    border-radius:15px;
    box-shadow: 0 0 15px 3px red;
    background-color: gold;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1.5rem;
    color:black;
    padding-left:5px;
    outline:none;
    cursor:pointer;
}
.form-order input[type=submit]{
    margin-top:30px ;
    width:200px;
    border:none;
    background-color: gold;
    text-transform: uppercase;
    font-weight: bolder;
    border:1px solid black;
    cursor:pointer;
}
/* ----------MAIN CONTACT---------------- */
.main-contact{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:50px 70px;
}
.contact-info p{
    width:70%;
    text-align:center;
    color:red;
    font-size: 1.8rem;
    margin:0 auto;
    padding:20px 0;
}
.contact-form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact-form label{
    padding:7px 0;
    color:red;
    text-shadow: 2px 2px 2px gold;
    font-size: 2rem;
    text-align: center;
}
.contact-form input{
    width:300px;
    height:50px;
    border-radius:15px;
    box-shadow: 0 0 15px 3px red;
    background-color: gold;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1.5rem;
    color:black;
    padding-left:5px;
    outline:none;
    cursor:pointer;
}
.contact-form textarea{
    width:300px;
    height:150px;
    resize: none;
    border-radius:15px;
    box-shadow: 0 0 15px 3px red;
    background-color: gold;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 1.5rem;
    color:black;
    padding-left:5px;
    outline:none;
    cursor:pointer;
}
.contact-us{
    padding-top:30px;
}
.contact-us p{
    color:red;
    font-size: 2rem;
    padding:10px 0;
    text-align: center;
}
.contact-us .us span{
    padding:30px 0;
}
.google-map{
    padding-top:20px;
}
.google-map iframe{
    border-radius: 20px;
    box-shadow:0 0 10px 5px red;
}
/* ----------MEDIA QUERIES -------------- */
@media (max-width:1100px) {
    .section-menu .contact{
        border:none;
        padding-right:0px;
    }
    .section-menu .order{
        border:none;
        padding-left: 0px;
    }
}
@media(max-width:880px){
    .section-menu{
        flex-direction: column;
        padding:5px 0;
    }
    .section{
        padding:15px 0;
        border-top:1px dashed red;
        border-bottom:1px dashed red;
    }
    .main-about p{
        width:90%;
    }
    .contact-us p{
        color:red;
        font-size: 1.4rem;
        padding:10px 0;
    }
}
@media(max-width:500px){
    nav{
        flex-direction: column;
    }
    .hamburger{
        display:none;
    }
    nav i.home{
        display:none;
    }
    .mobile-layout{
        display:block;
        display:flex;
    }
    .logo-mobile{
        display:flex;
        align-items: center;
        justify-content: center;
    }
    .logo{
        display:none;
    }
    .main-about p{
        width:100%;
        margin-top:0px;
        padding-top:0px;
    }
    .main-order p{
        color:red;
        display:block;
        width:90%;
        font-size: 1.4rem;
        padding-bottom:20px;
        text-align: center;
    }
    .main-container{
        padding:10px 40px;
    }
    .contact-info p{
        width:90%;
        text-align:center;
        color:red;
        font-size: 1.4rem;
        margin:0 auto;
    }
    .contact-us p{
        color:red;
        font-size: 1.2rem;
        padding:10px 0;
    }
    .google-map iframe{
        border-radius: 20px;
        box-shadow:0 0 10px 5px red;
        width:95%;
    }
    footer{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}