
.icon-home:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-basket:before { content: '\e802'; } /* '' */
.icon-users:before { content: '\e803'; } /* '' */
.icon-plus-circled:before { content: '\e804'; } /* '' */
.icon-minus-circled:before { content: '\e805'; } /* '' */
.icon-trash:before { content: '\e806'; } /* '' */
.icon-gplus-squared:before { content: '\f0d4'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-skype:before { content: '\f17e'; } /* '' */
.icon-git-squared:before { content: '\f1d2'; } /* '' */
.icon-twitter-squared:before { content: '\f304'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
